<div *ngIf="heading" id='heading'>
    <h2>{{ heading }}</h2>
</div>
<div id="content">
  <h1 class="head">{{ H1 }}</h1>
  <div id="task_today">
      <div class="card" *ngFor="let task of tasksToday">
          <div class="container" >
            <span class="title">{{ task.title | titlecase }}</span>
            <span class="due">{{ task.due }}</span>
            <span>
              <button mat-button color="primary" (click)="openEditTaskDialog(task)">
              <img src="../../assets/images/edit_pencil.svg" alt="edit task">
            </button>
            <button mat-button color="primary" (click)="doneTask(task._id)">
              <img src="../../assets/images/done.svg" width="20" color="green" alt="done task">
            </button>
          </span>

          </div>
      </div>
  </div>
  <h1 class="head">{{ H2 }}</h1>
  <div id="task_upcoming">
    <div class="card" *ngFor="let task of tasksUpcoming">
        <div class="container" >
          <span class="title">{{ task.title | titlecase }}</span>
          <span class="due">{{ task.due }}</span>
          <span class="edit-button">
            <button mat-button color="primary" (click)="openEditTaskDialog(task)">
              <img src="../../assets/images/edit_pencil.svg" alt="edit task">
            </button>
          <button mat-button color="primary" (click)="doneTask(task._id)">
              <img src="../../assets/images/done.svg" width="20" color="green" alt="done task">
            </button>
        </span>
        </div>
    </div>
  </div>
  <h1 class="head">{{ H3 }}</h1>
  <div id="task_completed">
      <div class="card" *ngFor="let task of tasksCompleted">
          <div class="container" >
            <span class="title">{{ task.title | titlecase }}</span>
            <span class="due">{{ task.due }}</span>
          </div>
      </div>
  </div>
</div>
