<div *ngIf="heading" id='heading'>
    <h2>{{heading}}</h2>
</div>
<div id="content">
    <div id="task">
        <div class="card" >
            <div id="container" >
            <span id="name">Meeting</span>
            <span id="dura">12:00 - 14:00</span>
            <span id="disc">Meeting regarding recent issues</span>
            </div>
        </div>
        
        <div class="card" >
            <div id="container" >
            <span id="name">Meeting</span>
            <span id="dura">12:00 - 14:00</span>
            <span id="disc">Meeting regarding recent issues</span>
            </div>
        </div>
    </div>
</div>