@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
.head {
    margin-top: 15px;
    font-family: Montserrat, 'Courier New', Courier, monospace;
    font-weight: bold;
}
* {
    font-family: Montserrat, sans-serif;
}
@mixin task-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
}

#task_today {
    @include task-card;
}
#task_upcoming {
    @include task-card;
}
#task_completed {
    @include task-card;
}
#search_results {
    @include task-card;
}
.card{
    height : auto;
    width: auto;
    border-radius: 5px;
    background: #305F72;
    &:hover {
        transition: 0.2s;
        box-shadow: 7px 5px rgb(180, 175, 175);
    }
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    margin: 0.5em 1em 0.1em 0.5em;//TRBL
    color: white;
}
.title {
    font-family: 'Permanent Marker', sans-serif;
    font-size: 1.3em;
    letter-spacing: 1.5px;
    line-height: 1.2;
}
.due {
    font-size: 0.8em;
}
#back-button{
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 16px;
    
}
#search-head{
    display: inline-block;
}
#back-button img{
    height: 32px;
    width: 32px;
}
h1{
    margin-bottom: 15px;
    margin-top: 15px;
    height: wrap;
}