.head{
    margin-top: 15px;
}
*{
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}
.card{
    height : 80px;
    width: 110px;
    border-radius: 5px;
    background-color: blueviolet;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 13px;
    padding-left: 15px;
}
#title{
    display: inline-block;
    color: white  ;
<<<<<<< HEAD
    font-size: 16px;
    font-weight: bold;
=======
    font-size: 14px;
    font-style: bold;
>>>>>>> added new fields in add task
}
#disc{
    display: inline-block;
    color: white  ;
    font-size: 10px;
}
#due{
    display: inline-block;
    color: white  ;
    font-size: 12px;
    font-weight: lighter;
}
#container{
    margin-bottom: 10px;
    padding-top: 15px;
}
