<div *ngIf="heading" id='heading'>
    <h2>{{ heading }}</h2>
</div>
<div id="content">
  <h1 class="head">{{ H1 }}</h1>
  <div id="task_today">
      <div class="card" *ngFor="let task of tasksToday">
          <div class="container" >
            <span class="title">{{ task.title | titlecase }}</span>
            <span class="due">{{ task.due }}</span>
            <button mat-mini-fab color="primary" (click)="openEditTaskDialog(task)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
      </div>
  </div>
  <h1 class="head">{{ H2 }}</h1>
  <div id="task_upcoming">
    <div class="card" *ngFor="let task of tasksUpcoming">
        <div class="container" >
          <span class="title">{{ task.title | titlecase }}</span>
          <span class="due">{{ task.due }}</span>
          <button mat-mini-fab color="primary" (click)="openEditTaskDialog(task)">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
    </div>
  </div>
</div>
