<span id="username">Hi, {{ firstName }}!</span>
<div class="settings">
  <button mat-icon-button [matMenuTriggerFor]="settingsMenu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #settingsMenu="matMenu">
    <button mat-menu-item (click)="logOut()">
      <span>Log Out</span>
    </button>
  </mat-menu>
</div>
<header>
    <form action="" novalidate>
        <mat-form-field matTooltip="enter a task" hideRequiredMarker formnovalidate name="search" tooltip="ds"
            appearance="standard" color="primary" [style.width.ex]=30>
            <mat-label>
                Search the task..
            </mat-label>
            <input #textin alt="add" (keyup.enter)="searchText(textin.value)" matInput type="text" required />
        </mat-form-field>
    </form>
    <span>
        <button mat-button (click) = "searchText(textin.value)" matTooltip="click to search">
            <mat-icon>search</mat-icon>
        </button>
        <button matTooltip="Add new task" mat-button (click)="openAddNewTaskDialog()"><mat-icon>add</mat-icon></button>
        <button matTooltip="Filter tasks" [matMenuTriggerFor]="menu" mat-button (click)="filterTasks()"><mat-icon>filter_list_all</mat-icon></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-checkbox (click)="$event.stopPropagation()">
                    <mat-form-field>
                        <mat-label>Labels</mat-label>
                        <mat-select multiple>
                          <mat-option *ngFor="let label of labelList" [value]="label.value">{{label.viewValue}}</mat-option>
                        </mat-select>
                      </mat-form-field>

                </mat-checkbox>
            </button>
            <button mat-menu-item>
                <mat-checkbox (click)="$event.stopPropagation()">
                    <mat-form-field>
                        <mat-label>Priority</mat-label>
                        <mat-select multiple>
                          <mat-option *ngFor="let priority of priorityList" [value]="priority.value">{{priority.viewValue}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                </mat-checkbox>
            </button>
            <button mat-menu-item>
                <mat-checkbox (click)="$event.stopPropagation()">
                    <mat-form-field matTooltip="choose a date" style="display: inline-block;width: 90px;">
                        <mat-label>Date</mat-label>
                        <input name="due" placeholder="mm/dd/yyyy" matInput [matDatepicker]="picker1" value="due"  />
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                      <h4 style="display: inline-block;">
                          &nbsp;To&nbsp;
                      </h4>
                      <mat-form-field matTooltip="choose a date" style="display: inline-block;width: 90px;">
                        <mat-label>Date</mat-label>
                        <input name="due" placeholder="mm/dd/yyyy" matInput [matDatepicker]="picker2" value="due"  />
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </mat-checkbox>
            </button>
        </mat-menu>
    </span>

</header>
