<span id="username">Hi, {{ firstName }}!</span>
<header>
    <form action="" novalidate>
        <mat-form-field matTooltip="enter a task" hideRequiredMarker formnovalidate name="search" tooltip="ds"
            appearance="standard" color="primary" [style.width.ex]=30>
            <mat-label>
                Search the task..
            </mat-label>
            <input #textin alt="add" (keyup.enter)="searchText(textin.value)" matInput type="text" required />
        </mat-form-field>
    </form>
    <span>
        <button mat-button (click) = "searchText(textin.value)" matTooltip="click to search">
            <mat-icon>search</mat-icon>
        </button>
        <button matTooltip="Add new task" mat-button (click)="openAddNewTaskDialog()"><mat-icon>add</mat-icon></button>
    </span>
</header>
