#main{
    width: 400px;
}
h2{
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}
h4{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
#label{
    display: inline-block;
}
#pri{
    float: right;
}
#top-row{
    display: block;
    width: 400px;
}
#second-row{
    display: block;
}
#desc{
    display: block;
}
#date{
    float: right;
}