<!-- <div id="main">
<div id="top-row">
    <H2>
        {{title}}
    </H2>
    <h4 id="date">
        {{due}}
    </h4>
</div>
<div id="second-row">
    <h4 id="label">
        {{selectedValue}}
    </h4>
    <h4 id="pri">
        Priority: {{priority}}
    </h4>
</div>
<span id="desc" style="white-space: pre-line">
    {{textdata}}
</span>
</div> -->
<mat-card class="card">
    <mat-card-title>
        {{title}}
    </mat-card-title>
    <mat-card-subtitle style="color: red;" id="due">
        due: {{due}}
    </mat-card-subtitle>
</mat-card>
<mat-card>
    <mat-card-subtitle>
        {{selectedValue}}
    </mat-card-subtitle>
    <mat-card-content style="white-space: pre-line">
        {{textdata}}
    </mat-card-content>
</mat-card>


