// .contanier {
//     display: inline;
// }
#cen {
    text-align: center;
}
#subButton {
    &:hover {
        background-color: rgb(49, 47, 47);
        color: white;
    }
} 
mat-form-field {
    padding-left: 10px;
}
#pri {
    display: inline-block;
}