<div class="container">
    <form action="" novalidate>
        <mat-form-field formnovalidate name="search" tooltip="ds"
            appearance="standard" color="primary" [style.width.ex]=30>
            <mat-label>
                type a task...
            </mat-label>
            <input alt="add" matInput type="text" name="task_name" required [(ngModel)]="taskName" />
        </mat-form-field>
        <div>
            <mat-form-field matTooltip="choose a date">
                <mat-label>add a due date</mat-label>
                <input matInput placeholder="mm/dd/yyyy" [matDatepicker]="myDatePicker" name="date" type="text" [(ngModel)]="dateSelector">
                <mat-datepicker-toggle matSuffix [for]="myDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #myDatePicker></mat-datepicker>
            </mat-form-field>
            <button mat-button matTooltip="add a new tag" >
                <mat-icon style="color: grey;">add</mat-icon>
            </button> -->
            <span id="pri">
               &nbsp; Set Priority: &nbsp;<mat-slider color="warn" thumbLabel min="1" max="3" name="priority" (change)="onChange($event)" [displayWith]="formatLabel" step="1" value="1">
                </mat-slider>
            </span>
        </div>
        <div id="cen">
            <button id="subButton" mat-button (click)="addTaskToDb()">Submit</button>
        </div>
    </form>
</div>