<div class="container">
  <form action="">
      <mat-form-field>
          <mat-label>
              Current Password
          </mat-label>
          <input name="currentPassword" matInput type="password" [(ngModel)]="currentPassword" required/>
      </mat-form-field>
      <br>

      <mat-form-field>
          <mat-label>New Password</mat-label>
          <input name="newPassword" matInput type="password" [(ngModel)]="newPassword" required/>
      </mat-form-field>
      <br>

      <mat-form-field>
          <mat-label>Confirm New Password</mat-label>
          <input name="confirmNewPassword" matInput type="password" [(ngModel)]="confirmNewPassword" required/>
      </mat-form-field>
      <br>

      <button id="subButton" mat-button mat-dialog-close (click)="changePassword()">
          Submit
      </button>

  </form>
</div>
