<div id="sixedBox"></div>
<div class="container">
    <div class="leftbar">
        <div>
            calender
        </div>
        <div>
            calender
        </div>
        <div>
            calender
        </div>
        <div>
            calender
        </div>
    </div>
    <div class="center">
        <app-tasks-layout [heading]=H1></app-tasks-layout>
        <app-tasks-layout [heading]=H2></app-tasks-layout>
    </div>
    <div class="rightbar">
        All Tasks
    </div>
</div>