// variable(s)
$gradient-color: linear-gradient(180deg, rgba(170, 15, 164, 0.87) 0%, rgba(52, 161, 207, 0.28) 100%);

.test { 
    position: absolute;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    left: 4em;
    top: 2.1em;
    background: $gradient-color;
    .pad {
        font-size: 20px;
        padding-left: 70px;
        padding-top: 18px;
        position: relative;
        text-align: center;
    }
}
.addTask {
    position: absolute;
    padding: 10px;
    box-shadow: 5px 10px grey;
    span {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        letter-spacing: 0.115em;
    }
    text-align: center;
    width: 70%;
    height: 10em;
    left: 215px;
    top: 177px;
    background: #E5EDDF;
    position: relative;
    .button1 {
        right: 2em;
        bottom: 1em;
        position: absolute;
        background: $gradient-color;
        &:hover {
            background-color: rgb(164, 154, 180);
        }
    }
}

// @media(max-width: 500px) {
//     .addTask {
//         width: 40%;
//     }
// }