<div id="sixedBox"></div>
<div class="container">
    <div class="leftbar">
        <div>
            calender
        </div>
        <div>
            calender
        </div>
        <div>
            calender
        </div>
        <div>
            calender
        </div>
    </div>
    <div class="center">
        <div>
           Go to market
        </div>
        <div>
            Go to market
        </div>
        <div>
            Go to market
        </div>
        <div>
            Go to market
        </div>
    </div>
    <div class="rightbar">
        All Tasks
    </div>
</div>