<div class="test">
    <div class="pad">TestUser</div>
</div>
<div class="addTask">
    <span>Add New Task</span>
    <div class="input">
        <mat-form-field hideRequiredMarker appearance="standard" color="primary" [style.width.ex]=70>
            <mat-label>
                Type a task...
            </mat-label>
            <input matInput type="text" required />
        </mat-form-field>
    </div>
    <button class="button1" mat-fab>
        <mat-icon style="color: white;">add</mat-icon>
    </button>
</div>