<div class="login-background"><img src="../../../../assets/images/login-background.svg" alt="login"></div>
<div class="login-wrapper">
    <div class="wrapper-child">
        <mat-tab-group mat-align-tabs="start">
            <mat-tab label="Login">
                <br>
                <mat-form-field hideRequiredMarker color="primary" formnovalidate name="email" appearance="outline"
                    >
                    <mat-label>
                        Email
                    </mat-label>
                    <input name="title" alt="email" matInput type="email" required [(ngModel)]="email"/>
                </mat-form-field>
                <mat-form-field hideRequiredMarker formnovalidate color="primary" name="password" appearance="outline"
                    >
                    <mat-label>
                        Password
                    </mat-label>
                    <input name="title" alt="pass" matInput type="password" required [(ngModel)]="password"/>
                </mat-form-field> <br>
                <button id="auth-button" mat-button (click)="logIn()">
                    Submit
                </button>
            </mat-tab>
            <mat-tab label="Signup">
                <br>
                <mat-form-field hideRequiredMarker color="primary" formnovalidate name="firstname" appearance="outline"
                     >
                    <mat-label>
                        First name
                    </mat-label>
                    <input name="title" alt="email" matInput type="text" required [(ngModel)]="firstName"/>
                </mat-form-field>
                <mat-form-field hideRequiredMarker color="primary" formnovalidate name="last-name" appearance="outline"
                     >
                    <mat-label>
                        Last name
                    </mat-label>
                    <input name="title" alt="email" matInput type="text" required [(ngModel)]="lastName"/>
                </mat-form-field>
                <mat-form-field hideRequiredMarker color="primary" formnovalidate name="email" appearance="outline"
                     >
                    <mat-label>
                        Email
                    </mat-label>
                    <input name="title" alt="email" matInput type="text" required [(ngModel)]="email"/>
                </mat-form-field>
                <mat-form-field hideRequiredMarker formnovalidate color="primary" name="password" appearance="outline"
                     >
                    <mat-label>
                        Password
                    </mat-label>
                    <input name="title" alt="pass" matInput type="password" required [(ngModel)]="password"/>
                </mat-form-field> <br>
                <button id="auth-button" mat-button (click)="signUp()">
                    Submit
                </button>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
