<div class="login-background"><img src="../../../../assets/images/login-background.svg" alt="login"></div>
<div class="login-wrapper">
    <div class="wrapper-child">
        <mat-tab-group mat-align-tabs="start">
            <mat-tab label="Login">
                <br>
                <mat-form-field hideRequiredMarker color="primary" name="email" appearance="outline"
                    >
                    <mat-label>
                        Email
                    </mat-label>
                    <input name="title" alt="email" matInput type="email" required [(ngModel)]="email"
                    required pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,3})$" #loginEmail = "ngModel"/>
                </mat-form-field>
                <mat-form-field hideRequiredMarker formnovalidate color="primary" name="password" appearance="outline"
                    >
                    <mat-label>
                        Password
                    </mat-label>
                    <input name="title" alt="pass" matInput type="password" required [(ngModel)]="password" minlength="8" #loginPassword="ngModel"/>
                </mat-form-field> <br>
                <p *ngIf="invalidUser" style="font-size: 12px; color: red;">Incorrent email/password</p>
                <button id="auth-button" [disabled]="loginEmail.invalid || loginPassword.errors?.minlength || loginPassword.invalid" mat-button (click)="logIn()">
                    Submit
                </button>
            </mat-tab>
            <mat-tab label="Signup">
                <br>
                <mat-form-field hideRequiredMarker color="primary" formnovalidate name="firstname" appearance="outline"
                     >
                    <mat-label>
                        First name
                    </mat-label>
                    <input name="title" alt="email" matInput type="text" required pattern="[a-zA-Z][a-zA-Z]*" #fname="ngModel" [(ngModel)]="firstName"/>
                </mat-form-field>
                <mat-form-field hideRequiredMarker color="primary" formnovalidate name="last-name" appearance="outline"
                     >
                    <mat-label>
                        Last name
                    </mat-label>
                    <input name="title" alt="email" matInput type="text" required pattern="[a-zA-Z][a-zA-Z]*" #lname="ngModel" [(ngModel)]="lastName"/>
                </mat-form-field>
                <mat-form-field hideRequiredMarker color="primary" formnovalidate name="email" appearance="outline"
                     >
                    <mat-label>
                        Email
                    </mat-label>
                    <input name="title" alt="email" matInput type="text" required pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,3})$" #signupEmail = "ngModel" [(ngModel)]="email"/>
                </mat-form-field>
                <mat-form-field hideRequiredMarker formnovalidate color="primary" name="password" appearance="outline"
                     >
                    <mat-label>
                        Password
                    </mat-label>
                    <input name="title" alt="pass" matInput type="password" required minlength="8" #signupPassword="ngModel" [(ngModel)]="password"/>
                </mat-form-field> <br>
                <button id="auth-button" [disabled]="signupEmail.invalid || signupPassword.errors?.minlength || signupPassword.invalid || fname.invalid || lname.invalid" mat-button (click)="signUp()">
                    Submit
                </button>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
