<div class="calendar">
    <header class="mainHead">
        <div class="goback" (click)="moveback()" ng-if="pickdate">
            <svg width="30" height="30">
                <path fill="none" stroke="#FFFFFF" stroke-width="3" d="M19,6 l-9,9 l9,9"/>
            </svg>
        </div>
      <h1>{{currentyear}}</h1><h1>&nbsp;</h1><h1>{{currentmonth}}</h1>
      <div class="goforward" (click)="moveforward()" ng-if="pickdate">
        <svg width="30" height="30">
            <path fill="none" stroke="#FFFFFF" stroke-width="3" d="M11,6 l9,9 l-9,9" />
        </svg>
    </div>
    </header>
    <div class="calendar-day-header">
        <span *ngFor="let day of days" class="days">{{ day }}</span>
    </div>
    <div class="start" >
      <span class="column light" *ngFor="let date of currdates">{{date}}</span>
    </div>
  </div>

